.mainShop{
    width: 400px;
    height: 400px;
}
.mainShop label, .mainShop button {
    position: relative;
    top: 68px;
    display: block;
    margin: 10px;
    left: 50px;
}
.mainShop input {
    position: relative;
    left: 200px;
    top: 38px;
    height: 20px;

}
.mainShop button {
    position: relative;
    left: 292px;
    height: 30px;
    width: 70px;
}