* {
  margin: 0;
  padding: 0;
}

header {
  position: relative;
  min-width: 1100px;
  height: 35px;
  background: #293133;
  line-height: 35px;

}

header ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style-type: none;
  margin-left: 20px;
  float: left;
}

header ul li {
  float: left;
}

header ul li a {
  padding: 0 20px;
  display: block;
  color: white;
  transition: all .4s;
}

header ul li a:hover {
 background: red;
 color: white;
 text-decoration: none;
}



.clearfix {
  clear: both;
}

#id {
  width: 50px;
}

.baseData {
  min-width: 1300px;

  margin-top: 20px;
  margin-left: 10px;
  overflow-x: auto;
}
.nameTable th {
  background: #fafafa;
  text-align: center;
}

td {
  text-align: center;
}

.delete {
background: none;
color: #fff;
width: 100px;
height: 30px;
border: 1px solid white;
font-size: 14px;
border-radius: 30px;
transition: .4s;
box-sizing: border-box;
cursor: pointer;
background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
background-size: 400%;
}

.delete:focus {
  outline: none;
}

.delete:hover {
 animation: animate 8s linear infinite;
}
@keyframes animate 
{
  0%
  {
    background-position: 0%;
  }
  100%
  {
    background-position: 400%;
  }
}

.search-box {
  float: right;
  height: 34px;
  margin: 0;
  padding: 0;
  background: white;
  border-radius: 40px;
  padding: 10px;
}

.search-box:hover > .search {
  width: 200px;
  padding: 0 6px;
}
.search-btn {
  color: red;
  position: relative;
  top:-10px;
  float: right;
  width: 20px;
  height: 30px;
  border-radius: 50%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-btn:hover {
  text-decoration: none;
  color: red;
}

.search {
  height: 20px;
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: red;
  font-size: 15px;
  transition: 0.4s;
  line-height: 35px;
  width: 0px;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 5px;
}


